@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f7f7f2;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    border: 1px solid silver;
}

.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: solid 1px silver;
}

.center form{
    padding: 0 40px;
}

form .txt_field {
    position: relative;
    border-bottom: solid 2px #adadad;
    margin: 30px 0
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.forget_pass, .forget_pass a {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
    font-weight: 590;
    text-decoration: none;
}

.forget_pass:hover, .forget_pass a:hover {
    color: #1f1f1f;
    text-decoration: none;
}

input[type=submit] {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    margin-bottom: 10px;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #a6a6a6;
}

.signup_link a {
    text-decoration: none;
    color: #a6a6a6;
}

.signup_link a:hover {
    text-decoration: none;
    color: #1f1f1f;
}

.error {
    color: red;
    text-align: center;
}