@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f7f7f2;
    font-family: "Montserrat", sans-serif;

}

button {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.popup {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content {
    background-color: white;
    color: black;
    max-width: 800px;
    padding: 1%;
    position: relative;
}

.popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
}

.popup_title {
    font-size: 32px;
    margin-bottom: 1em;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup_text {

}
