{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>histline | login</title>
    <link type="text/css" rel="stylesheet" href="{% static "IVR_static/css/authorization.css" %}">
</head>
<body>
    <div class="center">
        <h1>Вход</h1>
        <form action="{% url 'confirm_login' %}" method="post">
            {% csrf_token %}
            <p class="error">{{ error }}</p>
            <div class="txt_field">
                <input type="text" required placeholder="Имя пользователя" name="username">
            </div>
            <div class="txt_field">
                <input type="password" required placeholder="Пароль" name="password">
            </div>
            <div class="forget_pass"><a href="{% url 'password_reset' %}">Забыл пароль?</a></div>
            <input type="submit" value="Войти">
            <div class="signup_link">
                <a href="{% url 'registration' %}">Зарегистрироваться</a>
            </div>
        </form>
    </div>
</body>
</html>