{% extends 'base.html' %}

{% block hero %}
    <div class="hero">
        <div class="hero-logo">
            histline.
        </div>
        <div class="hero-description">
            Тайм-лайн ключевых дат и событий для подготовки к ЕГЭ по истории.
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="tl-navigate">
        <div class="tl_choose">Выберите тайм-лайн</div>
            <div class="tl_types">
                <div class="tl_type"><a href="{% url 'home' %}">Сжатый</a></div>
                <div class="tl_type"><a href="{% url 'home_d' %}">Подробный</a></div>
            </div>
    </div>
    <div class="timeline-area">
        <div class="timeline-content">
            {% for tl in timelines %}
                <div class="tl-card">
                    <img src="{{ tl.photo.url }}">
                    <h2>{{ tl.name }}</h2>
                    <h3>{{ tl.date_start }} {% if tl.date_end %}- {{ tl.date_end }}{% endif %}</h3>
                    <div class="tl_desc">{{ tl.content|linebreaks|truncatewords:80 }}</div>
                    <span><a class="read_more" href="{{ tl.get_absolute_url }}">Читать далее  →</a></span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}