{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>histline | registration</title>
    <link type="text/css" rel="stylesheet" href="{% static "IVR_static/css/authorization.css" %}">
</head>
<body>
    <div class="center">
        <h1>Регистрация</h1> {{ error }}
        <form action="{% url 'confirm_reg' %}" method="post">
            {% csrf_token %}
            <div class="txt_field">
                <input type="text" required placeholder="Имя пользователя" name="username">
            </div>
            <div class="txt_field">
                <input type="email" required placeholder="Email" name="email">
            </div>
            <div class="txt_field">
                <input type="password" required placeholder="Пароль" name="password">
            </div>
            <div class="txt_field">
                <input type="password" required placeholder="Подтвердите пароль" name="password_verify">
            </div>
            <input type="submit" value="Зарегистрироваться">
            <div class="signup_link">
                <a href="{% url 'login' %}">Войти</a>
            </div>
        </form>
    </div>
</body>
</html>