{% extends 'base.html' %}

{% block content %}
    <div class="timeline_info">
        <div class="timeline_img" name="photo"><img src="{{ tl.photo.url }}"></div>
        <div class="timeline_name" name="name">{{ tl.name }}</div>
        <div class="timeline_date">{{ tl.date_start }}</div>
        <div class="timeline_date">-</div>
        <div class="timeline_date">{{ tl.date_end }}</div>
        <div class="timeline_desc">
            {{ tl.content|linebreaks }}
        </div>
        <form action="{% url 'copy' %}" method="post" class="copy-form">
            {% csrf_token %}
            <input type="hidden" name="hide" value="{{ tl.pk }}">
            {% if not master %}
                <input type="submit" id="plus" class="plus" value="Сохранить к себе в профиль">
            {% endif %}
        </form>
        {% if master %}
            <div style="width: 100%">
                <form action="{% url 'redact' %}" method="post" class="copy-form">
                    {% csrf_token %}
                    <input type="hidden" name="hide" value="{{ tl.pk }}">
                    <input type="hidden" name="te" value="t">
                    <input type="submit" class="del" name="smbt" value="Редактировать">
                    <input type="submit" class="del" name="smbt" value="Добавить событие">
                    <input type="submit" class="del" name="smbt" value="Удалить">
                </form>
            </div>
        {% endif %}
    </div>
    <div class="timeline-area">
        <div class="timeline-content">
            {% for event in events %}
                <div class="tl-card">
                <img src="{{ event.photo.url }}">
                <h2>{{ event.name }}</h2>
                <h3>{{ event.date_start }} {% if event.date_end %}- {{ event.date_end }}{% endif %}</h3>
                <div>{{ event.content|truncatewords:80 }}</div>
                <span><a class="read_more" href="{{ event.get_absolute_url }}">Читать далее  →</a></span>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="when_created">Тайм-лайн добавлен: {{ tl.time_create|date:"d-m-Y" }}</div>

{% endblock %}